header {
    background-color: red;
}

.subscribe {
    background: white;
    color: red
}
.sign-in {
    color: white;
}

.fa-bars {
    color: rgb(250, 171, 171);
}
.date {
    color: white;
}

.navbar  {
    list-style: none;
}

.header-logo {
    min-width: 130px;
}
.card {
    border: none;
}

main h3 {
    color: gray;
    text-transform: uppercase;
    font-size: 1em;
}

.logo {
    width: 100%;
    height: 70px;
}

nav li a {
    color: black;
    border-right: 1px solid gray;
}

nav li a:hover {
    color: red;
}

.card-text {
    color: gray;
}

.fa-search {
    transform: translateX(-22px);
}