header {
    background-color: red;
}

.subscribe {
    background: white;
    color: red
}
.sign-in {
    color: white;
}

.fa-bars {
    color: rgb(250, 171, 171);
}
.date {
    color: white;
}

.navbar  {
    list-style: none;
}

.header-logo {
    min-width: 130px;
}
.card {
    border: none;
}

main h3 {
    color: gray;
    text-transform: uppercase;
    font-size: 1em;
}

.w-50 {
    background-color: rgb(252, 244, 244);
}

.logo {
    width: 100%;
    height: 70px;
}

nav li a {
    color: black;
    border-right: 1px solid gray;
}

nav li a:hover {
    color: red;
}

.card-text {
    color: gray;
}

.fa-search {
    transform: translateX(-22px);
}

.column3 > *,
.latest-news > .row {
    border-bottom: 1px solid rgb(226, 223, 223);
}
.offset-column img {
    height: 100px;
}
 

.more-stories {
    height: 450px;
}
.red {
    color: red;
}

.red-bg {
    background: red;
    color: white;
    padding: 7px;
}

.card-more-stories h5 {
    font-size: 1rem;;
}

