body {
  line-height: 1.2em;
}

header {
  background-color: red;
}
header a {
  font-size: .7em;
}
.subscribe {
  background: white;
  color: red;
}

.sign-in {
  color: white;
}

.fa-bars {
  color: rgb(250, 171, 171);
}

.date {
  color: white;
}

ul {
  list-style: none;
}

i:hover {
  cursor: pointer;
}

nav input {
  width: 80%;
}

footer li {
  padding: 3px 6px;
  word-wrap: none;
  color: rgb(129, 129, 129);
}

footer li:hover {
  color: black;
  cursor: pointer;
}

.header-logo {
  min-width: 130px;
}

.card {
  border: none;
}

main h3 {
  color: gray;
  text-transform: uppercase;
  font-size: 1em;
}

.w-50 {
  background-color: rgb(252, 244, 244);
}

.logo {
  width: 100%;
  height: 70px;
}

nav li a {
  color: black;
  border-right: 1px solid gray;
}

nav li a:hover {
  color: red;
}

.card-text {
  color: gray;
}

.fa-search {
  transform: translateX(-22px);
}

.column3 > *,
.latest-news > .row {
  border-bottom: 1px solid rgb(226, 223, 223);
}

.offset-column img {
  height: 100px;
}

.subs-news img {
  min-width: 150px;
}

.more-stories {
  height: 450px;
}
/* @media (min-width: 992px) {
.feature,
.column3 {
  position: sticky;
  top: 0;
}
} */
@media (max-width: 767px) {
  .more-stories {
    height: 100%;
    order: 2;
  }

  .culture-travel {
    order: 3;
  }
}

.red {
  color: red;
}

.red-bg {
  background: red;
  color: white;
  padding: 7px;
}

.card-more-stories h5 {
  font-size: 1rem;
}
